.main{
    border: 1px solid;
    width: 100%;
    height: 620px;
    background-color: lightgreen;
}
.about {
    /* border: 1px solid; */
    width: 25%;
    height: 30px;
    float: left;
    margin-top: 150px;
    margin-left: 38px;
    
}
.about img{
    width: 100%;
    height: 300px;
}
.myprofile {
    /* border: 1px solid; */
    width: 100%;
    height: 50px;
    background-color: aqua;
    margin-bottom: -12px;
    margin-top: -22px;
}

.profile {
    /* border: 1px solid; */
    margin-top: 20px;
    margin-left: 35%;
    width: 23%;
    height: 160px;
    border-radius: 100px;
    

}

.profile1 img {
    width: 100%;
    height: 160px;
    border-radius: 80px;
    margin-top: 10px;
    margin-left: 25px;

}

.about1 {
    /* border: 1px solid; */
    width: 45%;
    height: 550px;
    float: left;
    margin-top: 30px;
    background-color:gray;
}

.about2 {
    /* border: 1px solid; */
    width: 25%;
    height: 300px;
    float: left;
    margin-top: 150px;
    background-color:cornflowerblue;
}
.btn{
    margin-top: 100px;
    background-color: blue;
    font-size: 25px;
    border-radius: 50px;
}
.btn2{
    margin-top: 50px;
    background-color: green;
    font-size: 25px;
    border-radius: 50px;
}
